<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
            <rules>
                <rule name="ReverseProxyToOreka" stopProcessing="true">
                    <match url="([0-9]+)" />
                    <action type="Rewrite" url="http://192.168.20.225:8080/icweb/replay?segid={R:0}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
