<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DB_Server" value="localhost"/>
    <add key="DB_Name" value="oreka"/>
    <add key="DB_User" value="incuser"/>
    <add key="DB_Password" value="1234"/>
    <add key="LocalRepoPath" value="C:\inConcert\Repository\" /> 
    <add key="PlayerFBS_width" value="557px"/>
    <add key="PlayerFBS_height" value="390px"/>
    <add key="PlayerFBS_fullscreen_width" value="1366px"/>
    <add key="PlayerFBS_fullscreen_height" value="768px"/>
    <add key="PlayerFBS_popup_width" value="1366"/>
    <add key="PlayerFBS_popup_height" value="768"/>
    <add key="WS_Oreka_Server" value="192.168.20.225"/>
    <add key="WS_Oreka_Port" value="8080"/>
    <add key="WS_Oreka_URL" value="/icweb/replay"/>
    <add key="WS_InConcert_Server" value="gborderolle"/>
    <add key="WS_InConcert_Port" value="8081"/>
    <add key="WS_InConcert_URL_download" value="/RecordingIntegration/WebServices/Download.aspx"/>
    <add key="WS_InConcert_URL_operacionesGrabacion" value="/RecordingIntegration/WebServices/OperacionesGrabacion.asmx"/>
    <add key="Webchimera_Install_URL" value="https://github.com/RSATom/WebChimera/releases/download/v0.2.9/WebChimera_0.2.9_vlc_2.2.1.msi"/>
    <add key="MaxElementsDownload" value="6"/>
    <add key="AutoRefreshDataTimeMilliseconds" value="300000"/> <!-- Refresh grid every 5 mins: 300000 -->
    <add key="vs:EnableBrowserLink" value="false"/>
  
  </appSettings>
  
  <!--
  
      <add key="DB_Server" value="192.168.20.225"/>
    <add key="DB_Name" value="oreka"/>
    <add key="DB_User" value="inconcert"/>
    <add key="DB_Password" value="inc0nc3rt!"/>
    <add key="LocalRepoPath" value="C:\inConcert\Repository\" /> 
    <add key="PlayerFBS_width" value="557px"/>
    <add key="PlayerFBS_height" value="390px"/>
    <add key="WS_Oreka_Server" value="192.168.20.225"/>
    <add key="WS_Oreka_Port" value="8080"/>
    <add key="WS_Oreka_URL" value="/icweb/replay"/>
    <add key="WS_InConcert_Server" value="maxiwin7"/>
    <add key="WS_InConcert_Port" value="80"/>
    <add key="WS_InConcert_URL" value="/RecordingIntegration/WebServices"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    
  <add key="DB_Server" value="localhost"/>
    <add key="DB_Name" value="oreka"/>
    <add key="DB_User" value="incuser"/>
    <add key="DB_Password" value="1234"/>
    <add key="LocalRepoPath" value="C:\inConcert\Repository\" /> 
    <add key="PlayerFBS_width" value="557px"/>
    <add key="PlayerFBS_height" value="390px"/>
    <add key="WS_Oreka_Server" value="192.168.20.225"/>
    <add key="WS_Oreka_Port" value="8080"/>
    <add key="WS_Oreka_URL" value="/icweb/replay"/>
    <add key="WS_InConcert_Server" value="maxiwin7"/>
    <add key="WS_InConcert_Port" value="80"/>
    <add key="WS_InConcert_URL" value="/RecordingIntegration/WebServices"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  
  
  <appSettings>
    <add key="DB_Server" value="192.168.10.31"/>
    <add key="DB_Name" value="oreka"/>
    <add key="DB_User" value="inconcert"/>
    <add key="DB_Password" value="InC0nc3rt!"/>
    <add key="LocalRepoPath" value="C:\inConcert\Repository\" /> 
    <add key="PlayerFBS_width" value="557px"/>
    <add key="PlayerFBS_height" value="390px"/>
    <add key="WS_Oreka_Server" value="192.168.10.31"/>
    <add key="WS_Oreka_Port" value="8080"/>
    <add key="WS_Oreka_URL" value="/icweb/replay"/>
    <add key="WS_InConcert_Server" value="192.168.10.31"/>
    <add key="WS_InConcert_Port" value="8081"/>
    <add key="WS_InConcert_URL" value="/RecordingIntegration/WebServices"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  
  -->
  
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

    <httpRuntime maxRequestLength="1048576" />

  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OperacionesGrabacionSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://maxiwin7/recordingintegration/WebServices/OperacionesGrabacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="OperacionesGrabacionSoapBinding"
        contract="RecordingIntegration.OperacionesGrabacionSoapBinding"
        name="OperacionesGrabacionSoapBinding" />
    </client>
  </system.serviceModel>
</configuration>